<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>

  <system.serviceModel>
    <client>
      <endpoint address="net.tcp://localhost:2100/Bank" binding="netTcpBinding"
        bindingConfiguration="NetTcpBinding_IBankService" contract="BankService.IBankService"
        name="NetTcpBinding_IBankService" />
    </client>
    <bindings>
      <netTcpBinding>
        <binding name="netTcp" maxBufferPoolSize="50000000" maxReceivedMessageSize="50000000">
          <readerQuotas maxDepth="500" maxStringContentLength="50000000"
            maxArrayLength="50000000" maxBytesPerRead="50000000" maxNameTableCharCount="50000000" />
          <security mode="None" />
        </binding>
        <binding name="NetTcpBinding_IBankService">
          <security mode="None" />
        </binding>
      </netTcpBinding>
    </bindings>
    <services>
      <service behaviorConfiguration="SklepDefaultBehavior"
        name="Sklep.Model.ShopService">
        <endpoint address="" binding="netTcpBinding" bindingConfiguration="netTcp"
          contract="Sklep.Interface.IShopService"/>
        <endpoint address="mex" binding="mexTcpBinding" bindingConfiguration=""
          contract="IMetadataExchange"/>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:2101/Sklep" />
            <add baseAddress="http://localhost:2181/Sklep"  />
          </baseAddresses>
        </host>
      </service>
    </services>
    <behaviors>
      <serviceBehaviors>
        <behavior name="SklepDefaultBehavior">
          <serviceMetadata httpGetEnabled="True"/>
          <serviceDebug includeExceptionDetailInFaults="True" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
  </system.serviceModel>

</configuration>